# 忽略所有 .log 文件
*.log

# 忽略 node_modules 目录
**/node_modules/

# 忽略所有 .tmp 文件
*.tmp

# 忽略 .env 文件
.env

# 忽略 .git 目录
.git/

# 忽略所有 .DS_Store 文件（macOS 系统文件）
.DS_Store

# 忽略所有 .vscode 目录（VS Code 配置文件）
.vscode/

# 忽略所有 __pycache__ 目录（Python 缓存文件）
**/__pycache__/

# 忽略所有 .pyc 文件（Python 编译文件）
**/*.pyc

# 忽略所有 .idea 目录（JetBrains IDE 配置文件）
.idea/

# 忽略 Dockerfile
Dockerfile

# 忽略 docker-compose 文件
docker-compose*.yml

# 忽略 .dockerignore 文件
.dockerignore

# 忽略所有 .md 文件（文档文件）
*.md

# 忽略所有 .sh 文件（Shell 脚本）
*.sh

# 忽略所有 .bak 文件（备份文件）
*.bak

# 忽略所有 .swp 文件（Vim 临时文件）
*.swp


/app/config