.List {
  width: 210px;
  min-width: 210px;
  // min-height: 700px;
  .n-spin-container {
    overflow-y: scroll;
    // height: 700px;
  }
}

.listcontent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.listname {
  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    font-size: 12px;
  }
}

.n-list-item {
  :deep(.n-list-item__main) {
    // height: 41.58px;
  }
}
